html {
    overflow-y: scroll;
  }

html, body {
    background-color: #f2f2f2;
    color: black;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    height: 100vh;
    margin: 0;
}

.links > li > a {
    color: #636b6f;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: .1rem;
}

.links > li > a:hover,
.links > li > a:active,
.links > li > a:focus {
    background: transparent;
    text-decoration: none;
}

.navbar {
    margin-bottom: 0;
}

.navbar-brand {
    color: red;
    font-weight: bold;
    font-size: 25px;
}

.navbar-brand:hover {
    text-decoration: none;
    color: red;
}

.cover{
    height: 45vh;
    background: cover;
    background-position: bottom;
    background-attachment: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cover-text-holder {
    color: white;
    text-align: center;
    font-weight: bold;
    text-transform: capitalize;
}

.cover-text-holder > h1 {
    font-size: 6em;
}

.cover-text-holder > h2 {
    font-size: 2.5em;
}

.pull-up{
    margin-top: -25px;
}

.m-t-md {
    margin-top: 10px;
}

.m-l-s {
    margin-left: 5px;
}

.buttons-holder {
    text-align: center;
}

.btn2 {
    border-radius: 0px;
    padding: 15px 30px;
    width: 200px;
    font-weight: bold;
    margin-left: 30px;
    margin-right: 30px;
    font-size: 16px;
}

.btn1 {
    border-radius: 0;
}

.container-fluid-margin {
    margin-left: 80px;
    margin-right: 80px;
}

.text-decorated {
    display: inline-block;
    border-bottom: red 2px solid;
    padding-bottom: 3px;
}

.text-decorated:hover {
    display: inline-block;
    border-bottom: red 3px solid;
    padding-bottom: 2px;
}

.container-gray {
    height: 92vh;
    width: 100vw;
    background-color: lightgrey;
    display:flex;
    align-items: center;
    justify-content: center;
}

.container-form {
    background-color: #fff;
    padding: 15px 8px;
}

.custom-alert {
    border-radius: 0;
    text-align: left;
    font-size: 12px;
}

.custom-input {
    border:lightgray 2px solid;
    border-radius: 0;
    outline: none;
    width: 300px;
}

.custom-input2 {
    border:lightgray 2px solid;
    border-radius: 0;
    outline: none;
    width: 350px;
}

.custom-input:focus,
.custom-input:active,
.custom-input:hover {
    outline: none;
    border:lightgray 2px solid;
    box-shadow: none;
}

.is-invalid {
    border:red 2px solid;
}

.red-link {
    color: red;
    text-decoration: none;
}

.red-link:hover,
.red-link:active,
.red-link:focus {
    color: red;
    text-decoration: none;
}


/* Game cards */

.game-card {
    width: 225px;
    margin-left: 20px;
    margin-right: 20px;
    display: inline-block;
}

.game-picture > img {
    overflow: hidden;
    min-height: 225px;
}

.game-name {
    font-size: 16px;
}

.games-horizontal-scroller-holder{
    overflow: auto;
    white-space: nowrap;
}

/* Event cards */

.event-card {
    background-color: darkgray;
    color:white;
    border-radius: 5px;
    margin: 5px;
    cursor: pointer;
}

.event-card:first-of-type {
    margin-top: 10px;
}

.event-card > .game-card {
    margin: 10px;
}

.col-md-4 > .game-picture,
.col-md-5 > .game-picture {
    margin-top:10px;
    margin-bottom: 10px;
}

.event-details-clicked {
    position: fixed;
    width:40%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0px 0px 1px 5000px rgba(0,0,0,0.8);
    background-color: white;
    border-radius: 5px;
    display: none;
}

.event-details-clicked-text {
    padding:10px;
    background-color: white;
    border-radius: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    color: black;
}

.event-card > .event-details-clicked-text {
    color: black;
}

.btn-event-players, 
.btn-event-requests, 
.btn-event-rejected-requests {
    padding: 7px;
    margin-left: 20%;
    margin-right: 20%;
    background: black;
    cursor: pointer;
    color: white;
    font-size: 17px;
}

.event-details-text-holder {
    top:10px;
    padding: 10px;
}

.event-details-text {
    height: 225px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.event-basic > p {
    font-size: 20px;
}

.event-details-clicker,
.event-requests-show{
    font-size: 20px;
    padding:5px;
    background: white;
    color: black;
    text-align: center;
    border: none;
    outline: none;
    width: 49%;
    display: inline-block;
}


.event-details-p {
    font-size: 18px;
}

.event-players-details,
.event-requests-details, 
.event-rejected-requests-details{
    display: none;
}

.event-players-details-names {
    margin-top:5px;
    margin-bottom: 5px;
}


/* User profile */

.user-profile-row {
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.user-profile-holder {
    background: white;
    border-radius: 10px;
    text-align: center;
    padding: 60px 50px;
}

.profile-picture {
    width:220px; 
    height:220px; 
    border-radius:50%;
    border: 5px solid transparent;
    box-shadow: 0 0 3pt 2pt red;
}


.inputfile {
    width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

label[for="file"] {
    font-size: 1.25em;
    font-weight: 700;
    color: white;
    background-color: grey;
    padding: 7px 13px;
    display: block;
    cursor: pointer; /* "hand" cursor */
    margin-top: 20px;
}

.inputfile:focus,
label[for="file"]:hover {
    background-color: red;
    cursor: pointer; /* "hand" cursor */
}

.save-button {
    margin-top: 20px;
    padding: 7px 13px;
    background-color: gray;
    color: white;
    border: none;
    font-weight: bold;
}

.save-button:hover {
    background-color: red;
}

#map {
    width: 50vw;
    height: 75vh;
    position: absolute;
    z-index: 1;
    top: 20vh;
    right: 0;
}

.find-a-game-title{
    margin-top:0;
    font-size: 25px;
}

/* My events */

.my-events-menu {
    margin: 0 !important;
    border-radius: 8px;
}
.my-events-menu-item {
    font-size: 25px;
    width: 50%;
    height: 100%;
    text-align: center;
    padding:10px;
    background: lightgrey;
    cursor: pointer;
}

.my-events-menu-item > a {
    text-decoration: none;
    color: black;
}

.my-events-menu-item:first-child {
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}

.my-events-menu-item:last-child {
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}

.my-events-menu-item.active {
    background-color: white;
}

.buttons-holder-form {
    height: 130px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.event-not-found{
    margin-top:10px;
    text-align: center;
    display: fixed;
    padding: 40px;
    width:50%;
    height:50%;
    left: 50%;
    top: 50%;
    transform: translate(50%, 50%);
    font-size: 25px;
    color:red;
}

.my-events-menu-item > .badge-danger,
.event-requests-show > .badge-danger{
    background-color: red;
}

#requests{
    position: fixed;
    width:40%;
    left: 50%;
    top:50%;
    transform: translate(-50%, -50%);
    box-shadow: 0px 0px 1px 5000px rgba(0,0,0,0.8);
    background-color: white;
    border-radius: 5px;
    color:black;
}

.clickable-p{
    background: black;
    color: white;
    padding: 3px;
    cursor: pointer;
    display: inline-block;
}